
#d1{
    width: 400px; 
    height: 300px; 
    background-color: green;
    /* margin: 10px; */
    /* margin-top: 10px; */
    /* margin: 20px 10px; */
    /* margin: 10px 20px 30px 40px; */
    /* padding: 30px; */
    /* padding-left: 10px; */
    /* padding: 10px 20px; */
    /* padding: 10px 20px 30px 40px; */
    position: relative;
    left: 420px;
}
div{
    width: 100px; 
    height: 100px; 
    background-color: red;
}

.c1{
    width: 100px; 
    height: 100px; 
    background-color: blue;
}

#d3{
    width: 150px; 
    height: 150px; 
    background-color: red;
    position: absolute;
    left: 125px;
    top: 75px;
    border-radius: 100%;
}